body {
    background: url(../img/Fondo.2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size: cover;
    width:100%;
    max-width:100px;
}
/*Divicion del Index*/

.main .title {
    width: 900px;
    height: 250px;
    text-align: center;
    color: #fff;
    top: calc(80vh - 55%);
    left: 35%;
    position: absolute;
    margin-left: -150px;
   
}
.main .title1 {
    text-align: center;
    color: #fff;
    top: calc(65vh - 57%);
    left: 12%;
    position: absolute;
    margin-left: -150px;
   
}
.title2 {
    top: calc(50vh - 57%);
    left: 25%;
    position: absolute;
    margin-left: -150px;
    width: 55%;
   
}
.titleVideo {
    top: calc(60vh - 47%);
    left: 33%;
    position: absolute;
    margin-left: -150px;
    width: 55%;
   
}

.titleAutores {
    width: 700px;
    height: 200px;
    text-align: center;
    color: #fff;
    top: calc(70vh - 55%);
    left: 40%;
    position: absolute;
    margin-left: -150px;
    background-color: black;

}


